body{
    margin: 0;
}
#Player{
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: groove 4px purple;
    background-color: purple;
}
#base{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Line{
    display: flex;
}
.Wall, .Space, .Start, .Final{
    width: 12px;
    height: 12px;
}
.Wall{
    border: inset red 4px;
    background-color: red;
}
.Space{
    border: groove white 4px;
    background-color: white;
}
.Start{
    border: groove yellow 4px;
    background-color: yellow;
}
.Final{
    border: groove green 4px;
    background-color: green;
}